@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
:root{
    --para : "Poppins", serif;
    --heading: "Roboto", serif;
}
.main{
    width:100%;
    height:100vh;
    /* background-color: yellow; */
    background-image: linear-gradient(to left, #a18cd1 0%, #fbc2eb 100%);
    /* z-index: -1; */
    position: relative;
}
.custom-shape-divider-bottom-1740045624 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1740045624 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-1740045624 .shape-fill {
    fill: #FFFFFF;
}
.discount{
    width:100%;
    height:5%;
    background-image: linear-gradient(to left, #00c6fb 0%, #005bea 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.discount p{
    font-family: var(--para);
    font-weight:700;
    font-size:1.1rem;
    word-spacing: 0.3vw;
    color:white;

}
.oval{
    position: absolute;
    top:-590px;
    right:-200px;
    width:700px;
    height:1200px;
    border-radius: 50%;
    /* background-color: rgb(221, 215, 215); */
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    /* background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%); */
    background-image: linear-gradient(to left, #d299c2 0%, #fef9d7 100%);
    border: none;
    /* z-index:-1; */
}
nav{
    width:100%;
    height:15%;
    padding:20px 6vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height:90px;
    width:100px;
    /* background-color: red; */
    background-image: url(logo\ of\ food.png);
    background-size: cover;
    background-position: center;
 }
 .nav_contain a{
    text-decoration: none;
    color:black;
    margin-left:2vw;
    font-family: "Roboto", serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(68, 6, 126);
 }
 .nav_contain a:hover{
    color:rgb(166, 92, 235);
 }

.icon i{
    margin-left: 1.1vw;
    font-size: 1.1rem;
    color: rgb(49, 2, 92);
 }
 .main .icon i:hover{
    color:rgb(166, 103, 224);
 }
 .contain{
    width:100%;
    height:80%;
    display: flex;
    /* background-color: red; */
 }
 .left{
    width:55%;
    height:100%;
    /* background-color: yellow; */
    position: relative;
 }
 .left-contain{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
 }
 .left .left-contain p{
    font-family: "Roboto", serif;
    font-size:1.2rem;
    /* font-size: 0.9; */
    font-weight:800;
    color: rgb(75, 27, 121);
 }
 .left .left-contain p i{
    color:red;
    font-size: 1.3rem;
 }
 .left .left-contain h2{
    margin-top:7%;
    font-family: "Poppins", serif;
    font-size: 2.1rem;
    /* font-size: 1.4rem; */
    font-weight: 800;
    color: rgb(153, 88, 215);
 }
 .left .left-contain button{
    margin-top:7%;
    width:140px;
    height:50px;
    font-family: "Roboto", serif;
    font-size:1rem;
    font-weight:600;
    letter-spacing: 0.8px;
    background-color: #FFAE42;
    color: white;
    border:none;
    border-radius: 6px;
    
 }
 .right{
    width:45%;
    height:100%;
    position: relative;
    /* background-color: red; */
    /* background-image: url(img-Photoroom.png);
    background-size:cover;
    background-position: center; */
 }
 .right .img{
    width:500px;
    height:400px;
    position: absolute;
    top:15%;
    left:18%;
    transform: rotatex(-20deg);
    transform: rotatez(-15deg);
    /* background-color: red;    */
    background-image: url(chicken.png);
    background-size:cover;
    background-position: center;
 }

    .customer{
        width:100%;
        height:100%;
        margin-top:2%;
        /* background-color: red; */
        position: relative;
    }
    .left_customer{
        width:65%;
        height:100%;
        /* background-color: rgb(195, 189, 182); */
        background-image: url(https://thumbs.dreamstime.com/b/white-rough-dry-plaster-texture-curly-curved-lines-as-simple-abstract-background-164415018.jpg);
        background-size: cover;
        background-position: center;
        position:relative;
    }
    .left_customer .left_main{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .left_customer .left_main > h2{
        font-family: "Poppins", serif;
        font-size: 1.7rem;
        font-weight: 800;
        color:rgb(63, 14, 108);
        position: relative;
    }
    .left_main > h2::after{
        content:"";
        position: absolute;
        bottom:-3%;
        left:0%;
        width:50%;
        height:10px;
        /* background-color: red; */
        background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
        background-size: cover;
        background-position: center;
        

    }
    .left_customer .left_main p{
        font-family: "Roboto", serif;
    font-size:1.2rem;
    font-weight:600;
    text-align: justify;
    margin-top:5%;
    }
    .left_customer .left_name{
        margin-top:15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .left_customer .left_name .lleft{
        line-height: 14px;
    }
    
    .left_customer .left_main .left_name h2{
        font-family: "Poppins", serif;
        font-size: 1.7rem;
        font-weight: 800;
        color: red;
    }
    .left_customer .left_name .lright i{
        margin-left:1.1vw;
        font-size: 1.1rem;
        font-weight: 900;
    }
    .left_customer .left_name .lright #last{
       color: red;
    }
    .right_customer{
        width:30%;
        height:90%;
        position: absolute;
        top:5%;
        right:13%;
        border:9px solid rgb(206, 206, 206);
        /* background-color: yellow; */
        background-image: url(https://plus.unsplash.com/premium_photo-1664875849194-0adbac28529f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fG1vZGVsfGVufDB8fDB8fHww);
        background-size: cover;
        background-position: center;
    }
 @media only screen and (min-width:600px) and (max-width:1000px){
    .contain{
        display: flex;
        flex-direction: column;
    }
    .left{
        width:100%;
    }
    .right{
        width:100%;
    }
    .right .img{
        width:620px;
        height:500px;
    }
    .right .img{
        width:500px;
        height:300px;
        position: absolute;
        top:7%;
        left:16%;
        transform: rotatex(-20deg);
        transform: rotatez(-15deg);
    }
 }

 @media only screen and (min-width:450px) and (max-width:600px){
    .nav_contain{
        display:none;
    }
    .contain{
        display: flex;
        flex-direction: column;
    }
    .left{
        width:100%;
    }
    .right{
        width:100%;
    }
    .right .img{
        width:380px;
        height:300px;
        position: absolute;
        top:7%;
        left:16%;
        transform: rotatex(-20deg);
        transform: rotatez(-15deg);
    }
    .left_customer{
        width:100%;
        height:100%;
        /* background-color: rgb(195, 189, 182); */
        background-image: url(https://thumbs.dreamstime.com/b/white-rough-dry-plaster-texture-curly-curved-lines-as-simple-abstract-background-164415018.jpg);
        background-size: cover;
        background-position: center;
        position:relative;
    }
    .left_customer .left_main{
        position: absolute;
        top:30%;
        left:50%;
        width:80%;
        /* transform: translate(-50%,-50%); */
    }

    .right_customer{
        /* display:none; */
        position: absolute;
        height:40%;
        width:50%;
        top:60%;
        left:25%;
    }
    /* mobile screen  */
 }

.special{
    width:100%;
    height:170vh;
    /* background-color: rgb(245, 245, 245); */
    background-image: linear-gradient(to left, #d299c2 0%, #fef9d7 100%);
    /* background-color: yellow; */
}
.special .our_special{
    height:11%;
    width:100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.special .our_special .inner_special{
    height:100%;
    width:50%;
    /* background-color: green; */
}
.special .our_special .inner_special h1{
    text-align: center;
    color: rgb(45, 7, 80);
    font-family: var(--heading);
    font-weight: 700;
    font-size: 3rem;
    position: relative;
}
.special .our_special .inner_special h1::after{
    content:"";
    position: absolute;
    bottom:-3%;
    left:35%;
    width:25%;
    height:10px;
    /* background-color: red; */
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    background-size: cover;
    background-position: center;
}
.special .our_special .inner_special p{
    text-align: center;
    color: rgb(100, 77, 121);
    font-family: var(--para);
    font-weight:600;
    margin-top:3%;
}
.menu{
    width:100%;
    height:100vh;
    /* background-color: red; */
    padding:4% 10vw;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    row-gap: 6%;
} 

.menu .fullbox{
    width: 23%;
    height: 70%;
    background-color: whitesmoke;
    box-shadow: 1px 1px 11px black;
    border-radius: 6px;
    transition: all 1s 0s ease;
  
}
.menu .fullbox:hover{
    box-shadow: 1px 1px 27px black;
}
.menu .fullbox .top_img{
    width:100%;
    height:67%;
    border-radius: 6px 6px 0px 0px;
    /* background-color: yellow; */
    background-image: url(https://images.unsplash.com/photo-1470324161839-ce2bb6fa6bc3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZCUyMGl0ZW18ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
}

.menu .fullbox2 .top_img{
    background-image: url(https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGZvb2QlMjBpdGVtfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
}
.menu .fullbox3 .top_img{
    background-image: url(https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNoaW5lc2UlMjBmb29kJTIwaXRlbXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
}
.menu .fullbox4 .top_img{
    background-image: url(https://vaya.in/recipes/wp-content/uploads/2019/01/Hyderabadi-Egg-Dum-Biryani.jpg);
    background-size: cover;
    background-position: center;
}
.menu .fullbox5 .top_img{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTGprnId_Ykr5g4UC0FmCND-t9y5dD6B1acA&s);
    background-size: cover;
    background-position: center;
}
.menu .fullbox6 .top_img{
    background-image: url(https://abescakesandkitchen.com/uploads/productImage/product1716376284.jpg);
    background-size: cover;
    background-position: center;
}
.menu .fullbox7 .top_img{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Dft9P7WYfNAQj0tWH319hfHA6qURgaL7Aw&s);
    background-size: cover;
    background-position: center;
}
.menu .fullbox8 .top_img{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyDcH_MxdsTsK6KMVon-Ybfa2WiT-R70ZjWw&s);
    background-size: cover;
    background-position: center;
}
.menu .fullbox .bottom{
    padding:10px 0.9vw;
    width:100%;
    height:15%;
    /* background-color: green; */
}
.menu .fullbox .bottom h2{
    font-family: var(--heading);
    font-size: 1.2rem;
    text-transform: capitalize;
}
.menu .fullbox .bottom p{
    font-family: var(--para);
    font-size: 0.7rem;
}
.menu .fullbox .price{
    height:15%;
    width:100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 1.5vw;
}

.menu .fullbox .price p{
    font-family: var(--para);
    font-weight: 600;
    color:red;
    font-size: 1.1rem;
}
.menu .fullbox .price button{
    padding:8px 13px;
    font-family: var(--heading);
    font-weight:600;
    font-size: 0.9rem;
    /* background-color: #FFAE42; */
    border:2px solid #FFAE42;
    border-radius: 5px;
}
.menu .fullbox .price button:hover{
    background-color: #FFAE42;
    color: white;
}

.contact{
    width:100%;
    height:20%;
    /* background-color: blue; */
    background-image: linear-gradient(to left, #d299c2 0%, #fef9d7 100%);
    display: flex;
    margin-top:1%;
    margin-bottom:30px;
}
.contact .contact_left{
    width:50%;
    height:100%;
    /* background-color: red; */
    /* padding:10px 12vw; */
    position: relative;
}
.contact .contact_left .cont_left_content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* background-color: pink; */
}
.contact .contact_left .cont_left_content h2{
    font-family:var(--heading);
    font-size:1.9rem;
    font-weight:800;
    text-transform: capitalize;
    color: rgb(98, 15, 175);
}
.contact .contact_left .cont_left_content p{
    font-family:var(--para);
    font-size:0.9rem;
    font-weight:650;
    text-transform: capitalize;
    margin-top:4px;
    color: rgb(54, 16, 90);
}
.contact .contact_right{
    width:50%;
    height:100%;
    /* background-color: yellow; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.6vh;
    padding:10px 12vw;
}
.contact .contact_right a{
    /* background-color: green; */
    text-decoration: none;
    font-family: var(--para);
    font-size: 1rem;
    font-weight:600;
    color: rgb(98, 15, 175);
}
.contact .contact_right i{
    margin-right:.8vw;   
    font-size: 1.2rem;
}
footer{
    width:100%;
    height:9%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-family: var(--para);
    font-size: 1.3rem;
    font-weight:600;
    text-transform: capitalize;
    color:white;
}
